::-webkit-input-placeholder { color:blue; text-align: right; }
::-moz-placeholder { color:blue; text-align: right; } /* firefox 19+ */
:-ms-input-placeholder { color:blue; text-align: right; } /* ie */
input:-moz-placeholder { color:blue; text-align: right; }

#searchbox {
    width: 50%;
    height: 35px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border: 1px solid lightgray;
    
    
}

input {
    font-family: arial, FontAwesome !important;
    
}



button {
    padding: 10px;
    border: 0px;
    background-color: #f2f2f2;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    font-family: arial,sans-serif;
    margin: 11px 4px 11px 4px;
    padding:  0px 16px 0px 16px;
    min-width: 54px;
    height: 36px;
    line-height: 27px;
}

#btn-left {
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: arial,sans-serif;
    padding:  0px 16px 0px 16px;
    min-width: 54px;
    height: 36px;
    line-height: 27px;
}

#btn-right {
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: arial,sans-serif;
    padding:  0px 16px 0px 16px;
    min-width: 54px;
    height: 36px;
    line-height: 27px;
}
#bottom-text {
    font-family: arial,sans-serif;
    font-size: small;
}